:root {
    --light-brand-gray: #b3b3b3;
    --light-brand-orange: #ffa116;
    --light-brand-black: #000;
    --light-brand-white: #fff;
    --light-special-rose: #ff6863;
    --light-special-sunny: #f1bc00;
    --light-special-kiwi: #0de84b;
    --light-special-skyler: #1ba3ff;
    --light-special-lavender: #7731ff;
    --light-yellow-10: #fffce6;
    --light-yellow-20: #fff1a3;
    --light-yellow-30: #ffe77a;
    --light-yellow-40: #ffd952;
    --light-yellow-50: #ffc929;
    --light-yellow-60: #ffb800;
    --light-yellow-70: #edab00;
    --light-yellow-80: #e19500;
    --light-yellow-90: #c97b00;
    --light-yellow-100: #b46e00;
    --light-green-10: #e8ffe9;
    --light-green-20: #aff0b4;
    --light-green-30: #7be187;
    --light-green-40: #4dd161;
    --light-green-50: #24c241;
    --light-green-60: #01b328;
    --light-green-70: #019927;
    --light-green-80: #008024;
    --light-green-90: #006620;
    --light-green-100: #004d1b;
    --light-teal-10: #e8fffb;
    --light-teal-20: #bcf6ee;
    --light-teal-30: #92ede4;
    --light-teal-40: #47dad5;
    --light-teal-50: #26d1d1;
    --light-teal-60: #1cb8b8;
    --light-teal-70: #10a1a1;
    --light-teal-80: #0e7b7b;
    --light-teal-90: #106969;
    --light-teal-100: #0a5656;
    --light-blue-10: #e8f7ff;
    --light-blue-20: #bae4ff;
    --light-blue-30: #8bcfff;
    --light-blue-40: #5db6ff;
    --light-blue-50: #2e9aff;
    --light-blue-60: #007aff;
    --light-blue-70: #0069e8;
    --light-blue-80: #005bda;
    --light-blue-90: #004ebb;
    --light-blue-100: #003d9f;
    --light-red-10: #ffece8;
    --light-red-20: #fdcbc3;
    --light-red-30: #fba99f;
    --light-red-40: #fa847c;
    --light-red-50: #f85e59;
    --light-red-60: #f63636;
    --light-red-70: #cc2227;
    --light-red-80: #a1121b;
    --light-red-90: #770712;
    --light-red-100: #4d000a;
    --light-purple-10: #fbe8ff;
    --light-purple-20: #efc7f8;
    --light-purple-30: #e1a8f2;
    --light-purple-40: #d18aeb;
    --light-purple-50: #c16de5;
    --light-purple-60: #af52de;
    --light-purple-70: #8833ba;
    --light-purple-80: #6f22a1;
    --light-purple-90: #530d89;
    --light-purple-100: #440a71;
    --light-magenta-10: #ffe8ef;
    --light-magenta-20: #ffcadf;
    --light-magenta-30: #ffbad8;
    --light-magenta-40: #ff9ccd;
    --light-magenta-50: #ff70b0;
    --light-magenta-60: #f74397;
    --light-magenta-70: #de2c7f;
    --light-magenta-80: #bf0659;
    --light-magenta-90: #860246;
    --light-magenta-100: #68003e;
    --light-gray-10: #f5f5f5;
    --light-gray-20: #f0f0f0;
    --light-gray-30: #dfdfdf;
    --light-gray-40: #b7b7b7;
    --light-gray-50: #949494;
    --light-gray-60: #777;
    --light-gray-70: #525252;
    --light-gray-80: #2a2a2a;
    --light-gray-90: #212121;
    --light-gray-100: #1a1a1a;
    --light-gray-white: #fff;
    --dark-special-sunny: #ffdb20;
    --dark-special-rose: #ff6863;
    --dark-special-lavender: #9862ff;
    --dark-special-skyler: #52b9ff;
    --dark-special-kiwi: #4bf17b;
    --dark-brand-white: #fff;
    --dark-brand-gray: #b3b3b3;
    --dark-brand-orange: #ffa116;
    --dark-brand-black: #000;
    --dark-green-10: #004d1b;
    --dark-green-20: #016620;
    --dark-green-30: #078029;
    --dark-green-40: #109932;
    --dark-green-50: #1cb33d;
    --dark-green-60: #28c244;
    --dark-green-70: #51d164;
    --dark-green-80: #7fe18b;
    --dark-green-90: #b3f0b8;
    --dark-green-100: #d8ffda;
    --dark-blue-10: #002a78;
    --dark-blue-20: #0144b1;
    --dark-blue-30: #0d59c3;
    --dark-blue-40: #0d71ec;
    --dark-blue-50: #1283ff;
    --dark-blue-60: #1a90ff;
    --dark-blue-70: #57b3ff;
    --dark-blue-80: #87cdff;
    --dark-blue-90: #b8e3ff;
    --dark-blue-100: #c7ebff;
    --dark-yellow-10: #754501;
    --dark-yellow-20: #996004;
    --dark-yellow-30: #c17d00;
    --dark-yellow-40: #e59f06;
    --dark-yellow-50: #f2b411;
    --dark-yellow-60: #fac31d;
    --dark-yellow-70: #ffdb57;
    --dark-yellow-80: #ffe055;
    --dark-yellow-90: #ffec7b;
    --dark-yellow-100: #fff096;
    --dark-magenta-10: #4d002e;
    --dark-magenta-20: #770747;
    --dark-magenta-30: #a21962;
    --dark-magenta-40: #cc317f;
    --dark-magenta-50: #f7529f;
    --dark-magenta-60: #f969a7;
    --dark-magenta-70: #ff96c2;
    --dark-magenta-80: #fcacc9;
    --dark-magenta-90: #fdcdde;
    --dark-magenta-100: #ffdfea;
    --dark-teal-10: #00424d;
    --dark-teal-20: #035d67;
    --dark-teal-30: #0f7a82;
    --dark-teal-40: #0f9da3;
    --dark-teal-50: #32b8b8;
    --dark-teal-60: #46c6c2;
    --dark-teal-70: #68d4cd;
    --dark-teal-80: #90e3db;
    --dark-teal-90: #baf1e9;
    --dark-teal-100: #ccfff6;
    --dark-purple-10: #29004d;
    --dark-purple-20: #440971;
    --dark-purple-30: #651c95;
    --dark-purple-40: #8a38ba;
    --dark-purple-50: #b25bde;
    --dark-purple-60: #c477e5;
    --dark-purple-70: #e1b0ef;
    --dark-purple-80: #e1b0ef;
    --dark-purple-90: #f0cbf8;
    --dark-purple-100: #f8dbff;
    --dark-red-10: #4d000a;
    --dark-red-20: #770611;
    --dark-red-30: #a1151e;
    --dark-red-40: #cc2b2f;
    --dark-red-50: #f64747;
    --dark-red-60: #f8615c;
    --dark-red-70: #fa877f;
    --dark-red-80: #fbada3;
    --dark-red-90: #fdcfc8;
    --dark-red-100: #ffc5c4;
    --dark-gray-10: #1a1a1a;
    --dark-gray-20: #262626;
    --dark-gray-30: #323232;
    --dark-gray-40: #3a3a3a;
    --dark-gray-50: #777;
    --dark-gray-60: #949494;
    --dark-gray-70: #b7b7b7;
    --dark-gray-80: #dfdfdf;
    --dark-gray-90: #e8e8e8;
    --dark-gray-100: #f5f5f5;
    --dark-gray-black: #0f0f0f;
    --opacity-white-10: #ffffff0f;
    --opacity-white-20: #ffffff14;
    --opacity-white-30: #ffffff1a;
    --opacity-white-40: #ffffff24;
    --opacity-white-50: #ffffff38;
    --opacity-white-60: #ffffff4d;
    --opacity-white-70: #fff6;
    --opacity-white-80: #fff9;
    --opacity-white-90: #fffc;
    --opacity-white-100: #fff;
    --opacity-black-10: #00000005;
    --opacity-black-20: #0000000a;
    --opacity-black-30: #0000000f;
    --opacity-black-40: #00000014;
    --opacity-black-50: #00000021;
    --opacity-black-60: #00000036;
    --opacity-black-70: #00000057;
    --opacity-black-80: #0000008c;
    --opacity-black-90: #000000e3;
    --opacity-black-100: #000;
    --light-opacity-yellow-60: #ffb8001f;
    --dark-opacity-yellow-60: #fac31d1f;
    --pure-white: #fff;
    --pure-black: #000;
    --light-shadow-layer-1: 0px 0px 1px 0px #0000001a,0px 0.5px 5px 0px #0000001a;
    --light-shadow-layer-1-hover: 0px 0px 1px 0px #0000001a,0px 4px 8px 0px #0003;
    --light-shadow-layer-2: 0px 0px 1px 0px #0003,0px 0px 1px 0px #00000026,0px 7px 22px 0px #00000040;
    --light-shadow-layer-3: 0px 0px 1px 0px #0000004d,0px 0px 2px 0px #0000000d,0px 38px 90px 0px #00000040;
    --dark-shadow-layer-1: 0px 0px 1px 0px #0000001a,0px 0.5px 5px 0px #0000001a;
    --dark-shadow-layer-1-hover: 0px 0px 1px 0px #0000001a,0px 4px 8px 0px #0003;
    --dark-shadow-layer-2: 0px 0px 1px 0px #0003,0px 0px 1px 0px #00000026,0px 7px 22px 0px #00000040;
    --dark-shadow-layer-3: 0px 0px 1px 0px #0000004d,0px 0px 2px 0px #0000000d,0px 38px 90px 0px #00000040;
    --fixed-black: var(--pure-black);
    --fixed-white: var(--pure-white);
    --yellow-10: var(--light-yellow-10);
    --yellow-20: var(--light-yellow-20);
    --yellow-40: var(--light-yellow-40);
    --yellow-60: var(--light-yellow-60);
    --opacity-yellow-60: var(--light-opacity-yellow-60);
    --yellow-80: var(--light-yellow-80);
    --yellow-100: var(--light-yellow-100);
    --fill-quaternary: var(--opacity-black-10);
    --fill-tertiary: var(--opacity-black-20);
    --fill-primary: var(--opacity-black-40);
    --fill-secondary: var(--opacity-black-30);
    --fill-pure: var(--pure-white);
    --green-10: var(--light-green-10);
    --green-20: var(--light-green-20);
    --green-40: var(--light-green-40);
    --green-60: var(--light-green-60);
    --green-80: var(--light-green-80);
    --green-100: var(--light-green-100);
    --border-quaternary: var(--opacity-black-30);
    --border-tertiary: var(--opacity-black-40);
    --border-secondary: var(--opacity-black-50);
    --border-primary: var(--opacity-black-60);
    --magenta-10: var(--light-magenta-10);
    --magenta-20: var(--light-magenta-20);
    --magenta-40: var(--light-magenta-40);
    --magenta-60: var(--light-magenta-60);
    --magenta-80: var(--light-magenta-80);
    --magenta-100: var(--light-magenta-100);
    --gray-10: var(--light-gray-10);
    --gray-20: var(--light-gray-20);
    --gray-40: var(--light-gray-40);
    --gray-60: var(--light-gray-60);
    --gray-80: var(--light-gray-80);
    --gray-100: var(--light-gray-100);
    --difficulty-medium: var(--light-yellow-60);
    --difficulty-easy: var(--light-teal-60);
    --difficulty-hard: var(--light-red-60);
    --text-reverse: var(--pure-white);
    --text-secondary: var(--opacity-black-80);
    --text-tertiary: var(--opacity-black-70);
    --text-quaternary: var(--opacity-black-60);
    --text-primary: var(--light-gray-100);
    --message-danger: var(--light-red-60);
    --message-warning: var(--light-yellow-60);
    --message-primary: var(--light-blue-60);
    --message-success: var(--light-green-60);
    --teal-10: var(--light-teal-10);
    --teal-20: var(--light-teal-20);
    --teal-40: var(--light-teal-40);
    --teal-60: var(--light-teal-60);
    --teal-80: var(--light-teal-80);
    --teal-100: var(--light-teal-100);
    --blue-10: var(--light-blue-10);
    --blue-20: var(--light-blue-20);
    --blue-40: var(--light-blue-40);
    --blue-60: var(--light-blue-60);
    --blue-80: var(--light-blue-80);
    --blue-100: var(--light-blue-100);
    --purple-10: var(--light-purple-10);
    --purple-20: var(--light-purple-20);
    --purple-40: var(--light-purple-40);
    --purple-60: var(--light-purple-60);
    --purple-80: var(--light-purple-80);
    --purple-100: var(--light-purple-100);
    --brand-orange: var(--dark-brand-orange);
    --brand-gray: var(--dark-brand-gray);
    --brand-logo: var(--light-brand-black);
    --layer-bg-pure: var(--light-gray-white);
    --layer-bg-gray: var(--gray-20);
    --layer-02: var(--pure-white);
    --layer-01: var(--pure-white);
    --layer-03: var(--pure-white);
    --red-10: var(--light-red-10);
    --red-20: var(--light-red-20);
    --red-40: var(--light-red-40);
    --red-60: var(--light-red-60);
    --red-80: var(--light-red-80);
    --red-100: var(--light-red-100);
    --special-rose: var(--light-special-rose);
    --special-sunny: var(--light-special-sunny);
    --special-kiwi: var(--light-special-kiwi);
    --special-skyler: var(--light-special-skyler);
    --special-lavender: var(--light-special-lavender);
    --shadow-layer-1: var(--light-shadow-layer-1);
    --shadow-layer-1-hover: var(--light-shadow-layer-1-hover);
    --shadow-layer-2: var(--light-shadow-layer-2);
    --shadow-layer-3: var(--light-shadow-layer-3)
}
.dark {
    --fixed-black: var(--pure-black);
    --fixed-white: var(--pure-white);
    --yellow-10: var(--dark-yellow-10);
    --yellow-20: var(--dark-yellow-20);
    --yellow-40: var(--dark-yellow-40);
    --yellow-60: var(--dark-yellow-60);
    --opacity-yellow-60: var(--dark-opacity-yellow-60);
    --yellow-80: var(--dark-yellow-80);
    --yellow-100: var(--dark-yellow-100);
    --fill-quaternary: var(--opacity-white-10);
    --fill-tertiary: var(--opacity-white-20);
    --fill-primary: var(--opacity-white-40);
    --fill-secondary: var(--opacity-white-30);
    --fill-pure: var(--pure-black);
    --green-10: var(--dark-green-10);
    --green-20: var(--dark-green-20);
    --green-40: var(--dark-green-40);
    --green-60: var(--dark-green-60);
    --green-80: var(--dark-green-80);
    --green-100: var(--dark-green-100);
    --border-quaternary: var(--opacity-white-30);
    --border-tertiary: var(--opacity-white-40);
    --border-secondary: var(--opacity-white-50);
    --border-primary: var(--opacity-white-60);
    --magenta-10: var(--dark-magenta-10);
    --magenta-20: var(--dark-magenta-20);
    --magenta-40: var(--dark-magenta-40);
    --magenta-60: var(--dark-magenta-60);
    --magenta-80: var(--dark-magenta-80);
    --magenta-100: var(--dark-magenta-100);
    --gray-10: var(--dark-gray-10);
    --gray-20: var(--dark-gray-20);
    --gray-40: var(--dark-gray-40);
    --gray-60: var(--dark-gray-60);
    --gray-80: var(--dark-gray-80);
    --gray-100: var(--dark-gray-100);
    --difficulty-medium: var(--dark-yellow-60);
    --difficulty-easy: var(--dark-teal-60);
    --difficulty-hard: var(--dark-red-60);
    --text-reverse: var(--pure-black);
    --text-secondary: var(--opacity-white-80);
    --text-tertiary: var(--opacity-white-70);
    --text-quaternary: var(--opacity-white-60);
    --text-primary: var(--dark-gray-100);
    --message-danger: var(--dark-red-60);
    --message-warning: var(--dark-yellow-60);
    --message-primary: var(--dark-blue-60);
    --message-success: var(--dark-green-60);
    --teal-10: var(--dark-teal-10);
    --teal-20: var(--dark-teal-20);
    --teal-40: var(--dark-teal-40);
    --teal-60: var(--dark-teal-60);
    --teal-80: var(--dark-teal-80);
    --teal-100: var(--dark-teal-100);
    --blue-10: var(--dark-blue-10);
    --blue-20: var(--dark-blue-20);
    --blue-40: var(--dark-blue-40);
    --blue-60: var(--dark-blue-60);
    --blue-80: var(--dark-blue-80);
    --blue-100: var(--dark-blue-100);
    --purple-10: var(--dark-purple-10);
    --purple-20: var(--dark-purple-20);
    --purple-40: var(--dark-purple-40);
    --purple-60: var(--dark-purple-60);
    --purple-80: var(--dark-purple-80);
    --purple-100: var(--dark-purple-100);
    --brand-orange: var(--dark-brand-orange);
    --brand-gray: var(--dark-brand-gray);
    --brand-logo: var(--dark-brand-white);
    --layer-bg-pure: var(--dark-gray-black);
    --layer-bg-gray: var(--dark-gray-black);
    --layer-02: var(--dark-gray-30);
    --layer-01: var(--dark-gray-20);
    --layer-03: var(--dark-gray-40);
    --red-10: var(--dark-red-10);
    --red-20: var(--dark-red-20);
    --red-40: var(--dark-red-40);
    --red-60: var(--dark-red-60);
    --red-80: var(--dark-red-80);
    --red-100: var(--dark-red-100);
    --special-rose: var(--dark-special-rose);
    --special-sunny: var(--dark-special-sunny);
    --special-kiwi: var(--dark-special-kiwi);
    --special-skyler: var(--dark-special-skyler);
    --special-lavender: var(--dark-special-lavender);
    --shadow-layer-1: var(--dark-shadow-layer-1);
    --shadow-layer-1-hover: var(--dark-shadow-layer-1-hover);
    --shadow-layer-2: var(--dark-shadow-layer-2);
    --shadow-layer-3: var(--dark-shadow-layer-3)
}
/* #eff2f699 */